root { 
  display: block;
}
body, html{
  margin: 0px;
  padding: 0px;
}
th, td{
  text-align: left;
}
.round, .page a, .next a, .previous a{
  border-radius: 3px;
  border: 1px solid #eee;
}
.page a, .next a, .previous a{
  padding: 3px 10px !important;
}



a{
  text-decoration: none;
  color: blue;
  font-weight: 600;
}

.button{
  background-color: #eee;
  border: 1px solid #eee;
  padding:2px 6px;
}

.button:hover{
  background-color: #ddd;
}

.action-bar {
  margin: 5px 0px;
  text-align: right;
  clear:both;
  padding: 5px;
}
.action-bar-left{
  float: left;
  font-weight: bold;
}
.action-bar-right{
  float:right;
}

#main{
  width: 1020px; 
  margin: 0 auto;
  padding: 5px 10px;
}
.clear{
  clear: both;
}
.icon-dashboard{
 background-repeat: no-repeat;
 background-position: 0px 0px;
 height: 100px;
 padding-left: 60px;
 
}
.icon-import{
  background-image:url(../images/dashboard-import48.png);
}
.icon-history{
  background-image:url(../images/dashboard-history48.png);
}
.icon-user{
  background-image:url(../images/dashboard-user48.png);
}
.icon-config{
  background-image:url(../images/dashboard-config48.png);
}

.icon-dashboard .descritpion{
  font-size: 1em;
  color: gray;
  font-weight: lighter;
  
}
.icon-wrapper{
  float:left;
  width: 495px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  padding:3px;
}
.background{
  background-color: #eee;
  color: #fff;
}
.background .descritpion {
  color: #333;
} 
.dashboard-title{
  color: #06c;
  text-decoration: underline;
}
.head{
  height: 135px;
}
.action-title{
  font-size: 18px;
  color: green;
  padding: 5px;
  background-color: #eee;
  margin-bottom: 10px;
  
}
div.breadcrumb{
  background-color: #fffefe;
  margin-bottom: 10px;
  padding-left: 2px;
}
.btn-link{
  margin: 5px;
  /*  background-color: #aaa;
  padding:5px 10px;
  color:white;*/
}
.btn-link:hover{
/*  background-color: #666;
  color:#fefefe;*/
}
.item-separator{
  color: #aaa;
  
}

.btn-action{
  margin: 5px;
  background-color: #aaa;
  padding:5px 10px;
  color:white;
  font-size: 14px;
}
.btn-action:hover{
  background-color: #666;
  color:#fefefe;
}
div.tableWrapper{
  padding: 5px;
}
div.tableWrapper thead tr{
  background-color: #aaa;
  border-bottom: 1px solid #999;
  padding: 3px;
}
div.tableWrapper thead th {
  color: white;
}

tr.odd{
  background-color:#EFFDFF;
}
tr.even{
  background-color: #E6ECFF;
}

div.tableWrapper thead th, td {
  padding: 3px 5px;
}
.tgrid{
  width: 100%; 
}
.left-align{
  
}
.right-align{
 text-align: right; 
}