root { 
  display: block;
}
body, html{
  margin: 0px;
  padding: 0px;
}
th{
  text-align: center ;
}
td{
  text-align: left;
}
.round, .page a, .next a, .previous a, .form, .errorSummary, .fade{
  border-radius: 4px;
}
.page a, .next a, .previous a{
  padding: 3px 10px !important;
}
.form{
  background-color: #fff;
  padding:5px;
}

a{
  text-decoration: none;
  color: blue;
  font-weight: 600;
}

.button{
  background-color: #eee;
  border: 1px solid #eee;
  padding:2px 6px;
}

.button:hover{
  background-color: #ddd;
}

.action-bar {
  margin: 5px 0px;
  text-align: right;
  clear:both;
  padding: 5px;
}
.action-bar-left{
  float: left;
  font-weight: bold;
}
.action-bar-right{
  float:right;
}
.width{
  width: 1020px; 
  margin: 0 auto;
  padding: 5px 10px;
}
#main{
  
}
.clear{
  clear: both;
}
.icon-dashboard{
 background-repeat: no-repeat;
 background-position: 0px 0px;
 height: 80px;
 padding-left: 60px;
 
}
.icon-import{
  background-image:url(../images/dashboard-import48.png);
}
.icon-export{
  background-image:url(../images/dashboard-export48.png);
}
.icon-history{
  background-image:url(../images/dashboard-history48.png);
}
.icon-user{
  background-image:url(../images/dashboard-user48.png);
}
.icon-config{
  background-image:url(../images/dashboard-config48.png);
}
.icon-export-convertion{
   background-image:url(../images/dashboard-conversion.png);
}
.icon-export-setting{
   background-image:url(../images/dashboard-setting.png);
}
.icon-dashboard .descritpion{
  font-size: 1em;
  color: gray;
  font-weight: lighter;
  
}
.icon-wrapper{
  float:left;
  width: 495px;
  margin: 0px 5px 0 0;
  cursor: pointer;
  padding:0px;
}
.background{
  background-color: #eee;
  color: #fff;
}
.background .descritpion {
  color: #333;
} 
.dashboard-title{
  color: #06c;
  text-decoration: underline;
}
.head{
  height: 130px;
}
.action-title{
  font-size: 18px;
  color: green;
  padding: 5px;
  background-color: #eee;
  margin-bottom: 10px;
  
}
div.breadcrumb{
  background-color: #fffefe;
  margin-bottom: 10px;
  padding-left: 2px;
}
.btn-link{
  margin: 5px;
  /*  background-color: #aaa;
  padding:5px 10px;
  color:white;*/
}
.btn-link:hover{
/*  background-color: #666;
  color:#fefefe;*/
}


.item-separator{
  color: #aaa;
  
}
.btn-action-edit, .btn-action-delete, .btn-action-new, .btn-action, .btn-thirdparty {
  background-color:#09d;
  padding:3px 6px;
  color:white;
  font-size: 12px;
}
.btn-action-edit:hover, .btn-action-delete:hover ,.btn-action-new:hover, .btn-action:hover{
  background-color: #09f;
}

div.tableWrapper, div.form{
  padding: 5px;
  border : 1px solid #eee;
}
div.tableWrapper thead tr{
  background-color: #aaa;
  border-bottom: 1px solid #999;
  padding: 3px;
}
div.tableWrapper thead th {
  color: white;
}

tr.odd{
  background-color:#EFFDFF;
}
tr.even{
  background-color:#E6ECFF;
}

div.tableWrapper thead th, div.tableWrapper td {
  padding: 6px 3px;
}
.tgrid{
  width: 100%; 
}
.left-align{
  
}
.right-align{
 text-align: right; 
}
.form .errorMessage{
  margin-left: 210px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
#fade-ajax {
  font-size: 18px;
  font-weight: bold;
  background: #eee;
  padding:  5px;
}
.errorContent {
  font-size: 11px;
  font-weight: normal;
  padding: 0px 20px ;
}

.loading{
  background-image: url("../images/ajax-loader.gif");
  background-position: 10px center;
  background-repeat: no-repeat;
  background-color: #eee;
  border: 2px solid #ccc;
  width: 400px;
  position: absolute;
  display: none;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  padding-left: 60px;
  color: #333 ;
}

.restore{
  background-image: url("../images/ajax-loader.gif");
  background-position: 10px center;
  background-repeat: no-repeat;
  background-color: #eee;
  border: 2px solid #ccc;
  font-size: 18px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  padding-left: 60px;
  color: #333 ;  
  margin-bottom: 10px;
}

.hide{
  display: none;
}
.underline{
  text-decoration: underline;
}
.state{
  
  padding-left: 18px;
  background-position: left center;
  background-repeat: no-repeat;
}
.running-state{
  background-image: url(../images/state-pending.png);
}
.success-state{
  background-image: url(../images/state-success.png);
}
.failed-state{
  background-image: url(../images/state-failed.png);
}
.waiting-state{
  background-image: url(../images/state-start.png);
}
.disabled{
  background-color: #eee;
  color: #ccc;
  padding: 5px 10px;
  font-weight: bold;
 }
 ul{
   padding: 0px;
   margin: 0px;
 }
 li{
   list-style-type: none;
 }
 .importTitle{
   font-size: 18px;
   font-weight: bold;
   text-decoration: underline;
 }
 .dacalender{
   font-weight: normal;
   font-size: 14px ;
   color : #333;
   background-image: url(../images/calendar-icon.png);
   background-repeat: no-repeat;
   padding-left: 20px;
 }
 
 
 .exportTableItem{
   float:left; 
   width: 200px;
   line-height: 1.5 ;
 }
 .importLabel{
   float:left; 
   margin-right: 30px; ; 
   font-weight:normal;
 }
 .importLabelItem{
   float:left;
   padding: 3px;
   background: #ddd ;
   border: 1px solid #ccc;
   margin-left: 3px;
 }
  .importTableValue{
   float:left;
   padding: 3px;
   margin-left: 3px;
 }
 
 #importPercentage{
   font-weight: bold;
 }
 #footer{
   margin-bottom: 10px;
 }